files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/emily_logs.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      /opt/python/log/emily.log
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/emily_logs.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      /opt/python/log/emily.log